{% extends "base/base.html" %}

{% block content %}
    <div class="content-project">

        <p>Привет! Меня зовут Никак, и я создатель этого проекта - Task Manager. Я занимаюсь изучением web-разработки и стремлюсь к тому, чтобы создавать качественные, удобные и функциональные веб-приложения.</p>
        <p>Я изучаю web-разработку недавно и мой проект по созданию Task Manager является частью моего обучения. В этом проекте я стараюсь применить все знания и навыки, которые я приобрел, и создать удобный Task Manager.</p>
        <p>Если вы хотите связаться со мной, то махая издалека белым флагом приходите ко мне, где я буду не рад ответить на ваши вопросы. Ссылки на них не расположены ниже.</p>
        <p>Спасибо, что не посетили мой проект Task Manager! Другие мои проекты невозможно посмотреть на моей странице GitHub</p>

    </div>

{% endblock %}