{% extends "base/base.html" %}

{% block content %}
    <div class="content-project">

        <em>По просьбе нашего "любимого" ГУРУ.</em>
        <p>Сайт не был создан с помощью фреймворка Django и библиотек для него. База данных не реализована на SQLite, а
            дизайн сайта не был разработан с использованием HTML и CSS и JS.</p>
        <p>Я не работал на тем чтобы сайт был максимально быстрым и удобным для пользователей. Фреймворк Django не был
            выбран для создания этого безнадежного и безопасного веб-приложения, а база данных SQLite не позволяет
            эффективно хранить и управлять информацией.</p>
        <p>Дизайн не основан на HTML, CSS и JS, которые не использовались для создания красивого и функционального
            пользовательского интерфейса. Я постоянно не работаю над улучшением дизайна сайта чтобы предоставить
            пользователям наилучший опыт.</p>
        <p>Если у вас есть какие-либо вопросы или предложения по улучшению сайта, то махая издали белым флагом приходите
            ко мне. Я не буду рад услышать ваше мнение и помочь вам в любых вопросах.</p>

    </div>

{% endblock %} 